$regular: "RobotoRegular", sans-serif;
//$bold: "RobotoBold", sans-serif;
//$light: "RobotoLight", sans-serif;
$bernhard: "BernhardscriptC", sans-serif;
$accent: orange;

$color_line: #dedede;
$color_text: #676364;
$color_red_text: #d80108;
$color_yellow_text: #f0bf02;
$color_green_text: #41ad3f;
$color_green_dark: #168b14;
$color_yellow_button: #ffcc00;
$color_h1: #7a7a7a;
$color_placeholder: #aeaeae;


