
@font-face {
  font-family: 'BernhardscriptC';
  src: url('BernhardscriptC.eot?#iefix') format('embedded-opentype'),  url('BernhardscriptC.woff') format('woff'), url('BernhardscriptC.ttf')  format('truetype'), url('BernhardscriptC.svg#BernhardscriptC') format('svg');
  font-weight: normal;
  font-style: normal;
}
